.goods-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 20px;

  @media (min-width: 1700px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 1700px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 970px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

